body{
    margin: 0;
    color: #6a6f8c;
    background: dodgerblue;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

.label_group{
    color: white;
    position: absolute;
    top: 1%;
    right: 1%;
}

.button_group_logout{
    position: absolute;
    top: 1%;
    right: 5%;
}